* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*  outline: 1px solid red;*/
}

body {
    background-color: red;
}

.brand {
/*  font-family: 'Lobster Two', cursive;*/
  font-family: 'Zilla Slab", serif', cursive;

}

.cardHighlight {
  min-height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}





